@page
@using soft20181_starter.Models
@model soft20181_starter.Pages.ContactModel
@{
}

<div class="row">
<div class="col-md-6">
    
    <div class="section-title">
        <h2>Contact Details</h2>
        <p>Get In Touch!!</p>
    </div>
<div class="contact-detail">
            <p class="contact_p">
                <i class="bi bi-geo-alt-fill"></i>
                Address <br>
                The Bizvent Event Halls,
                London, E1 7HT
            </p>
            <p class="contact_p">
                <i class="bi bi-telephone-fill"></i>
                Phone<br>
                0789623278
            </p>
            <p class="contact_p">
                <i class="bi bi-envelope-open-fill"></i>
                Email<br>
                bizvent@gmail.com
            </p>
            <p class="contact_p">
                <i class="bi bi-clock-fill"></i>
                Working Hours<br>
                9:30am to 5:00pm Monday-Friday
            </p>
</div>

</div>


<div class="contact-form col-md-6">
        @if (TempData["SuccessMessage"] != null)
        {
            <div id="successMessage" class="success">
                @TempData["SuccessMessage"]
            </div>
        }
    <div>
        <form method="post">
            <h3>Contact Us</h3>
            <div class="form-element">
                <input asp-for="@Model.ContactInfo.Email" type="text" placeholder="Email" />
                <span asp-validation-for="@Model.ContactInfo.Email"></span>
            </div>

            <div class="form-element">
                <input asp-for="@Model.ContactInfo.Name" type="text" placeholder="Name" />
                <span asp-validation-for="@Model.ContactInfo.Name"></span>
            </div>

            <div class="form-element">
                <input asp-for="@Model.ContactInfo.Phone" type="text" placeholder="Phone" />
                <span asp-validation-for="@Model.ContactInfo.Phone"></span>
            </div>

            <div class="form-element">
                <textarea asp-for="@Model.ContactInfo.Message" placeholder="Message"></textarea>
                <span asp-validation-for="@Model.ContactInfo.Message"></span>
            </div>
           
            
            <button class="btn" type="submit">Submit</button>
            
        </form>

       @*  @if (Model.Save)
        {
                <div class="success">Thank you, @Model.ContactInfo.Name .We will be in touch shortly</div>
        } *@
           
    </div>
    
</div>

</div>

<footer class="footer footer-expand-sm mt-auto py-3 ft-custom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ms-lg-5">
                <h3 class="footer-h3">Name: Srushti Patel </h3>
                <h3 class="footer-h3">Email: N1150930@my.ntu.ac.uk</h3>
            </div>

            <div class="col-md-6 ms-lg-5">
                <h3 class="footer-h3">&copy; 2024 All Rights are Reserved</h3>
                <h3 class="footer-h3">
                    Srushti Patel N1150930 owns the intellectual property
                    rights to this website and its content.
                    Any unauthorised use, replication, or dissemination is
                    strictly forbidden.
                </h3>
            </div>

        </div>
    </div>
</footer>
@section Scripts {
    <script>
        window.addEventListener("DOMContentLoaded", (event) => {
            const successMessage = document.getElementById("successMessage");
            if (successMessage) {
                setTimeout(() => {
                    successMessage.style.display = "none";
                }, 3000); // Hides the message after 3 seconds
            }
        });
    </script>
}